body {
    background-color: rgb(0, 32, 96);
    font-family: 'Muli';
}

.jumbotron {
    background-image: url("gluehb2.png");
}

.display-4 {
    color: orange;
    opacity: 1;
    font-size: 2em;
}

.logoAbbrev {
    color: orange;
}

.container.shadow {
    opacity: 0.75;
}

h2 {
    color: orange;
}

.btn-secondary {
    background-color: rgb(0, 32, 96);
}

.col-sm-2 {
    align-self: center;
    text-align: center;
    color: orange;
}

ul {
    text-align: left;
}

.graphik img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shadow {
    align-self: center;
    text-align: center;
}

.material-icons {
    color: rgb(0, 32, 96);
    vertical-align: bottom;
}

/*für Graphik*/
.beiGrossRein {
    display: none;
}

.beiMedRein {
    display: none;
}

.beiKleinRein {
    display: flex;
}

@media (min-width: 510px) {

    .beiMedRein {
        display: flex;
    }

    .beiGrossRein {
        display: none;
    }

    .beiKleinRein {
        display: none;
    }
}

/*für Responsive Design*/

@media (min-width: 1000px) {

    .display-4 {
        font-size: 4em;
    }

    .beiGrossRein {
        display: flex;
    }

    .beiKleinRein {
        display: none;
    }

    .beiMedRein {
        display: none;
    }
}




